<section class="cd__creds cd__title-text">
  <div class="cd__max-width">
    <div class="cd__creds-wrapper">
      <h1 class="drop-large">Cord powers collaboration</h1>
      <h1 class="drop-large">in</h1>
      <h1 class="drop-large">Typeform</h1>
      <h1 class="drop-large">Salto</h1>
      <h1 class="drop-large">Spendflo</h1>
      <h1 class="drop-large">Beamup</h1>
      <h1 class="drop-large">Riskified</h1>
      <h1 class="drop-large ellipses"><svg width="117" height="36" viewBox="0 0 117 36" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="17.5" cy="17.984" r="17.5" fill="#fff"/><circle cx="58.382" cy="17.984" r="17.5" fill="#fff" fill-opacity=".6"/><circle cx="99.263" cy="17.984" r="17.5" fill="#fff" fill-opacity=".4"/></svg></h1>
    </div>
  </div>
</section>
