<section class="cd__quote">
  <div class="cd__max-width cd__align-center">
    <p class="p-large">What are clients say about us</p>
  </div>
  <div class="cd__mid-width">
    <figure>
      <blockquote>
        <p class="p-large">“We all love the whole experience. Our customers love it and it has helped the communication with the internal team as well drastically.”</p>
      </blockquote>
      <cite>
        <p class="p-large">Ajay — Spendflo</p>
      </cite>
    </figure>
  </div>
</section>
