<section class="cd__onwards" >
  <div class="cd__max-width cd__align-center">
    <p class="p-large">Get Started with Collaboration</p>
  </div>
  <div class="flex cd__onwards-wrapper">
    <div class="onwards__left">
      <div>
        <h1>Start building</h1>
        <p class="p-large">Explore our <span class="droplet">Collaboration Guides</span> to start building  collaboration into your product with our <span class="droplet">API docs</span></p>
      </div>
    </div>
    <div class="onwards__right">
      <h1>Pricing</h1>
      <p class="p-medium">You can get started for free. See how our enterprise pricing would best suit you →</p>
    </div>
  </div>
</section>
