<footer>
  <div class="footer--wrapper">
    <div class="flex">
      <div class="footer__col-third">
        {% include logo-lock-up.html %}
      </div>
      <div class="flex footer__col-twoThirds">
        <div class="footer__col-quarter">
          <p>Company</p>
          <ul>
            <li><a href="https://cord.com/about">About</a></li>
            <li><a href="https://cord.com/blog">Blog</a></li>
            <li><a href="https://cord.com/jobs">Jobs</a></li>
          </ul>
        </div>
        <div class="footer__col-quarter">
          <p>Product</p>
          <ul>
            <li><a href="https://cord.com/features">Features</a></li>
            <li><a href="https://cord.com/pricing">Pricing</a></li>
            <li><a href="https://cord.com/for-teams">For Teams</a></li>
          </ul>
        </div>
        <div class="footer__col-quarter">
          <p>Privacy</p>
          <ul>
            <li><a href="https://cord.com/privacy-policy">Privacy Policy</a></li>
            <li><a href="https://cord.com/terms-of-service">Terms of Service</a></li>
          </ul>
        </div>
        <div class="footer__col-quarter">
          <p>Contact</p>
          <ul>
            <li><a href="https://twitter.com/get_cord">Twitter</a></li>
            <li><a href="https://www.linkedin.com/company/get-cord/">Linkedin</a></li>
            <li><a href="mailto:info@cord.com">info@cord.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
<script src="/assets/main.js"></script>
